{% extends "base.html" %}
{%block title%} About {%endblock title%}
{%block content%}
    <div class="text-center my-3">
        Meet the Team
    </div>
    <div class="container text-center row"> 
        <div class="col-lg">
            <div>
                Aaron
            </div>

            <div>
                Bio: Struggling in flask
            </div>

            <div>
                <img src="../static/ST-head01.png" class="img-fluid" style="max-height: 200px;">
            </div>

            <div>
                <a href="https://www.google.com">
                    <img src="../static/linkedin_icon.png" class="img-fluid float-start" style="max-height: 25px;">
                </a>
            </div>

        </div>
        
        <div class="col-lg">
            <div>
                Andrew
            </div>
            <div>
                Bio: Struggling in cloudformation
            </div>
            <div>
                <img src="../static/ST-head02.png" class="img-fluid" style="max-height: 200px;">
            </div>
            <div>
                <a href="https://www.google.com">
                    <img src="../static/linkedin_icon.png" class="img-fluid float-start" style="max-height: 25px;">
                </a>
            </div>
        </div>
        
        <div class="col-lg">
            <div>
                Angel
            </div>
            <div>
                Bio: Struggling in lambda
            </div>
            <div>
                <img src="../static/ST-head03.png" class="img-fluid" style="max-height: 200px;">
            </div>
            <div>
                <a href="https://www.google.com">
                    <img src="../static/linkedin_icon.png" class="img-fluid float-start" style="max-height: 25px;">
                </a>
            </div>
        </div>
    </div>
{%endblock%}