{% extends "base.html" %}
{%block title%} About {%endblock title%}
{%block content%}
    <div class="text-center my-3 fs-1 fw-bolder">
        Meet the Team
    </div>
    <div class="container text-center row"> 
        <div class="col-lg my-3">
            <div class="fs-3 text-center">
                Aaron Parangan
                <a href="https://www.linkedin.com/in/aaron-parangan/">
                    <img src="../static/linkedin_icon.png" class="img-fluid float-center" style="max-height: 25px;">
                </a>
            </div>
            <div>
                <img src="../static/ST-head01.png" class="img-fluid" style="max-height: 200px;">
            </div>
            <div class="fs-6 my-3">
                Just a cyber guy living in a cyber world.
            </div>
        </div>
        
        <div class="col-lg my-3">
            <div class="fs-3 text-center">
                Andrew Friend
                <a href="https://www.linkedin.com/in/connect-with-andrew-friend/">
                    <img src="../static/linkedin_icon.png" class="img-fluid float-center" style="max-height: 25px;">
                </a>
            </div>
            <div>
                <img src="../static/ST-head02.png" class="img-fluid" style="max-height: 200px;">
            </div>
            <div class="fs-6 my-3">
                DevOps security professional in the making.
            </div>

        </div>
        
        <div class="col-lg my-3">
            <div class="fs-3 text-center">
                Angel Gomez Jr
                <a href="https://www.linkedin.com/in/angelgomezjr/">
                    <img src="../static/linkedin_icon.png" class="img-fluid float-center" style="max-height: 25px;">
                </a>
            </div>
            <div>
                <img src="../static/ST-head03.png" class="img-fluid" style="max-height: 200px;">
            </div>
            <div class="fs-6 my-3">
                DevOps Engineer in the making! Hire me now!
            </div>
        </div>
    </div>
    <div class="text-center my-3 fs-4">
        Github Project
        <div>
            <a href="https://github.com/agomez94/multi-tierArchitectureWordPress">
                <img src="../static/Github repo.png" class="img-fluid float-center" style="max-height: 100px;">
            </a>
        </div>

    </div>
{%endblock%}